iframe.tmblr-iframe {
    z-index:99999999999999!important;
    top:13px!important;
    right:15px!important;
    opacity:0;
    padding-right:40px;
    white-space:nowrap; -webkit-filter: invert(100%); -moz-filter:invert(100%); -o-filter:invert(100%); -ms-filter:invert(100%); filter:invert(100%);
    opacity:0;
    transition:.4s ease-in-out;
    transform:scale(0.8,0.8);
    transform-origin:right top;
    top:10px;
    right:11px;
    z-index:3000000;
    position:fixed!important;
}
 
iframe.tmblr-iframe:hover {
    opacity:1!important;}
 
.tumblr-controls {
    position:fixed;
    top:15px;
    right:15px;
    z-index:999999999;}
 
.tumblr-controls svg {
    fill:#000;
    width:22px;
    height:22px;
    padding:9px;
    transform:rotate(90deg);
}
 
::-webkit-selection { background:#eee; }
::-moz-selection{ background:#eee; }
::selection { background:#eee; }
 
::-webkit-scrollbar { width:12px; height:12px; background-color:#fff; }
::-webkit-scrollbar-track { background-clip:padding-box; border-radius:6px; background-color:#f1f1f1; border:4px solid transparent; }
::-webkit-scrollbar-thumb { background-clip:padding-box; border-radius:6px; background-color:#c1c1c1; border:4px solid transparent; }
 
/*placerholders*/
::-webkit-input-placeholder,
input::-webkit-input-placeholder,
form input::-webkit-input-placeholder,
input:placeholder-shown,
::placeholder,
#header .search .submit{
    color: #000;
    font-family:'Karla', sans-serif;
    text-transform:uppercase;
}
 
input:focus::-webkit-input-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder { color: transparent;}
 
/* tooltips */
 
#s-m-t-tooltip{
    position:absolute;
    margin:12px;
    max-width:250px;
    text-transform:uppercase;
    letter-spacing:.5px;
    line-height:1em;
    z-index:999;
    padding:9px;
    border-radius:3px;
    background:#141414;
    color:#bababa;
    font-weight:700;
    letter-spacing:1px;
    font-size:9.5px;
    font-family:'Karla', sans-serif;
}
 
body {
    background:#fafafa;
    font-size:12px;
    font-family:'Merriweather Sans', sans-serif;
   color:#525252;
}
 
a {
    border-bottom:1px solid #eaeaea;
    text-decoration:none;
    color:#8a8a8a; /* link colours */
    -webkit-transition: all 0.1s ease-in-out;
       -moz-transition: all 0.1s ease-in-out;
         -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}
 
a:hover {
    cursor:help;
    color:#d7d7d7; /* link hover colours */
    -webkit-transition: all 0.1s ease-in-out;
       -moz-transition: all 0.1s ease-in-out;
         -o-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
}
 
section {
    width:370px; /* width of the box */
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    position:absolute;
    border:1px solid #eaeaea;
    padding:20px;
    background:#fff;
    border-radius:5px;
    z-index:9;
}
 
.head {
    margin-bottom:10px;
    padding-bottom:15px;
    text-align:left;
    font-style:italic;
    line-height:40px;
    font-size:13px;
    border-bottom:1px solid #eaeaea;
}
 
.head img {
    width:50px;
    margin-top:-15px;
    display:inline;
    float:left;
    border-right:1px solid #eaeaea;
    padding-right:15px;
}
 
.head a {
    border:none;
    margin-left:15px;
}
 
.lnr {
    display:inline-block;
    padding:8px;
    background:#f5f5f5;
    border-radius:5px;
}
 
.lnr a {
   
}
 
.lnr:hover {
    background:#000;
}
 
.search .query {
    margin-top:-36px;
    border:0;
    outline:0;
    padding:8.5px;
    border-radius:5px;
    background:#f5f5f5;
    color:#000;
    display:inline;
    font-size:10px;
    text-align:right;
    float:right;
    width:140px;
 
}
 
.title {
    color:#000;
    font-size:13px;
    font-weight:700;
    margin-bottom:8px;
}
 
p {
    margin:10px 0px 0px 0px;
    padding:0;
    font-family:'Merriweather Sans', sans-serif;
}
 
.content {
    line-height:20px;
    max-height:230px; /* change this to fix your scrollbar */
    overflow-y:auto;
    text-align:justify;
}
 
.links {
    width:380px; /* make this the box width +10px :)*/
    padding-top:10px;
    margin-left:-5px;
    margin-bottom:-4px;
    overflow-x:visible;
}
 
.links a {
    background:#f5f5f5;
    color:#000;
    text-align:center;
    width:30%;
    display:inline-block;
    border:0px solid #eaeaea;
    margin:5px;
    line-height:18px;
    padding:5px 0;
}
 
.links a:hover {
    background:#141414;
    color:#d7d7d7;
}
   
/* quote line */
.quote {
    margin-top:20px;
    border-left:10px solid #DFE7E0; /* quote left border color */
    padding:8px 10px;
    background-color:#f5f7f6; /* quote left background color */
    font-family:'Merriweather Sans', sans-serif;
    text-transform:none;
    font-size:9px;
    color:#555; /* quote left text color */
    border-radius:5px;
}

blockquote {
    padding-left:10px;
    margin-left:5px;
    border-left:1px solid;
    border-color:#aaa; 
    margin:10px;
}

#lester { 
    
    margin-left:400px;
    z-index:99999999; 
}

#lester img {
    border-radius: 50%;
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
            transition: transform 0.8s ease-in-out;
  }
  
  #lester img:hover {
    -webkit-transform: rotate(60deg);
            transform: rotate(60deg);
  }