body {
    background: rgba(255, 227, 144, 0.75);
    margin: 0;
    padding: 0;
    height: 100%;
    border: none;
    font-size: 16px;
    font-family: PingFang-Regular, sans-serif;
  }
  
  hr {
    border-bottom: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }
  
  .top,
  .bottom {
    position: absolute;
    width: 100%;
    height: 12px;
    background: #fff;
    opacity: .49;
    left: 0;
    right: 0;
  }
  
  .top {
    top: 0;
  }
  
  .bottom {
    bottom: 0;
  }
  
  .card {
    position: absolute;
    bottom: 12px;
    top: 12px;
    left: 16px;
    right: 16px;
    width: 100%;
    max-width: 420px;
    height: 240px;
    margin: auto;
    background: #64B5F6;
    box-shadow: 0px 4px 12px 0px rgba(51, 51, 51, 0.30);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .content {
    position: relative;
    width: 100%;
    padding: 48px 132px 32px 32px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ch {
    font-size: 1.5em;
    color: #fff;
    letter-spacing: 2px;
  }
  
  .en {
    margin-left: 24px;
    font-size: 1em;
    color: #fff;
  }
  
  .job {
    margin-top: 1.75em;
  }
  
  .job_text {
    font-size: 1em;
    color: #fff;
    letter-spacing: 2px;
  }
  
  .desc_text {
    font-size: .25em;
    line-height: 1.75em;
    letter-spacing: 2px;
    color: #fff;
  }
  
  .skill_text {
    font-size: .25em;
    color: #F7FF75;
    font-style: italic;
    letter-spacing: 2px;
  }
  
  .box1 {
    position: absolute;
    right: 45px;
    width: 60px;
    height: 60px;
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
  
  .box2 {
    position: absolute;
    right: 14px;
    bottom: 28px;
    width: 72px;
    height: 72px;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  
  .box3 {
    position: absolute;
    right: -17px;
    bottom: 80px;
    width: 60px;
    height: 60px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .square {
    border: 1px solid #BBDEFB;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: transparent;
  }
  
  .project_name {
    position: absolute;
    color: #4A4A4A;
    bottom: 24px;
    right: 16px;
    letter-spacing: 2px;
  }
  @media (max-width: 480px){
    .card{
      max-width: 310px;
      top: 0;
      height: 340px;
    }
    .content{
      padding: 48px 22px 48px 22px;
    }
    .project_name{
      width: 100%;
      text-align: center;
      right: 0;
      bottom: 60px;
    }
    .box1{
      left: 0;
      top: 250px;
      width: 100px;
      height: 100px;
      -ms-transform: rotate(20deg);
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg);
    }
    .box2{
      right: 96px;
      top: 250px;
      width: 124px;
      height: 124px;
      -ms-transform: rotate(-30deg);
      -webkit-transform: rotate(-30deg);
      transform: rotate(-30deg);
    }
    .box3{
      right: 0px;
      top: 300px;
      width: 112px;
      height: 112px;
      -ms-transform: rotate(30deg);
      -webkit-transform: rotate(30deg);
      transform: rotate(30deg);
    }
  }