iframe.tmblr-iframe {
    z-index:999!important;
    top:19px!important;
    right:17.5px!important;
    opacity:0;
    padding-right:38px;
    /* delete invert(1) from here */
        filter:invert(1) contrast(150%);
        -webkit-filter:invert(1) contrast(150%);
        -o-filter:invert(1) contrast(150%);
        -moz-filter:invert(1) contrast(150%);
        -ms-filter:invert(1) contrast(150%);
    /* to here if your blog has a dark background */
    transform:scale(0.65);
    transform-origin:100% 0;
    -webkit-transform:scale(0.65);
    -webkit-transform-origin:100% 0;
    -o-transform:scale(0.65);
    -o-transform-origin:100% 0;
    -moz-transform:scale(0.65);
    -moz-transform-origin:100% 0;
    -ms-transform:scale(0.65);
    -ms-transform-origin:100% 0;
}
 
iframe.tmblr-iframe:hover {
    opacity:0.6!important;
}
 
.hcontrols {
    position:fixed;
    top:21px!important;
    right:17.5px!important;
    z-index:999;
}
 
.hcontrols svg {
    width:14px;
    height:14px;
    padding:9px;
    color:#000; /* tumblr controls icon color */
}
 
/* scrollbar */
 
::-webkit-scrollbar {
    width:.4em;
}
 
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius:4px;
}
 
::-webkit-scrollbar-thumb {
    background:#f8f8f8; /* scrollbar color */
}
 
/* main structure */
 
body {
    color:#000; /* text color excluding sidebar */
    line-height:1.5em;
    font-size:13px; /* font size */
    font-weight:400;
    font-family: 'PT Sans', sans-serif; /* font */
    letter-spacing:.75px;
    word-wrap:break-word;
    text-align:left;
    margin:0;
    background:#f8f8f8; /* background color */
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    font-synthesis:antialiased;
}
 
b, strong {
    font-weight:700;
}
 
a {
    color:inherit;
    text-decoration:none;
    transition:all .3s linear;    
    -webkit-transition:all .3s linear;
    -o-transition:all .3s linear;
    -moz-transition:all .3s linear;      
}
 
a, a img {
    cursor:pointer;
}
 
a:hover {
    text-decoration:none;
}
 
img {
    opacity:1;
    border:0;
    text-decoration:none;
    max-width:100%;
    height:auto;
    display:block;
}
 
section {
    width:100%;
    margin:0 auto;
}
 
/* title on top of the square */
 
.title {
    font-weight:700;
    font-size:14px;
    text-align:center;
    margin:7.5px auto -15px auto;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
 
/* sidebar image */
 
.side {
    color:white; /* sidebar text color - includes text and icons */
    background-size:cover;
    background-color:#bdd6de; /* sidebar background */
    background-image:url('url of you image goes here'); /* sidebar img */
    background-repeat:no-repeat;
    background-position:center;
}
 
/* square */
 
.square {
    border:2px solid;
    border-color:white; /* sidebar square color */
    position:relative;
    top:25px;
    margin:0 25px 25px 25px;
}
 
/* icons bellow square */
 
.heart {
    display:inline-block;
}
 
.heart svg {
    fill:red; /* heart icons color */
}
 
.icons {
    margin:35px 0 0 25px;
}
 
.icons svg {
    width:18px;
    height:18px;
    margin-right:10px;
}
 
.icons .i-r {
    float:right;
    right:0;
}
 
.icons .i-r svg {
    margin:0 -6px 0 0;
}
 
/* text below icons */
 
.like {
    margin:5px 0 0 25px;
    max-width:100%;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
 
/* post  */
 
.post {
    background:white; /* post background */
    border:1px solid;
    border-color:#eee; /* post border */
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
    left:50%;
}
 
/* icon */
 
.avatar {
    width:25px;
    height:25px;
    overflow:hidden;
    border-radius:50%;
    border:1px solid;
    border-color:#eee; /* your avatar border */
    background-color:#bdd6de; /* your avatar background */
    background-image:url('url of you icon goes here'); /* your avatar img */
}
 
.avatar {
    margin:25px;
}
 
.post h1 {
    margin:-50px 25px 25px 70px;
    font-size:13px;
}
 
.info a {
    border-bottom:2px solid #bdd6de; /* links */
}
 
/* follow button */
 
.follow {
    float:right;
    margin:-44px 25px;
    color:#a4a3a3;
}
 
.line {
    border-top:1px solid;
    border-color:#eee;
    width:100%;
    height:1px;
}
 
.info {
    margin:25px;
}
 
.info h2 {
    font-size:13px;
    margin-top:0;
}
 
.info p {
    margin-top:0px;
}
 
.links {
    color:#a4a3a3;
    text-align:right;
}
 
.links a {
    margin-left:10px;
}
 
/* media queries - don't touch this unless you really know what you're doing */
 
@media (min-width:901px) {
    .side {
        width:350px;
        height:425px;
        color:white;
        position:absolute;
        top:50%;
        transform:translate(0,-50%);
        left:calc(50% - 350px);
    }
   
    .square {
        width:296px;
        height:296px;
    }
   
    .icons, .like, .title {
        width:296px;
    }
   
    .post {
        width:348px;
        height:422px;
    }
   
    .info {
        height:227px;
        overflow:hidden;
        padding-right:5px;
    }
   
    .info:hover {
        overflow-y:scroll;
    }
   
    .links {
        position:absolute;
        right:25px;
        bottom:30px;
    }
}
 
@media (max-width:900px) {
    iframe.tmblr-iframe, .hcontrols {display:none!important;}
   
    section {
        padding-bottom:100px;
        min-height:100%;
    }
   
    .side {
        width:540px;
        height:615px;
        position:absolute;
        top:100px;
        transform:translate(-50%,0);
        left:50%;
    }
   
    .square {
        width:486px;
        height:486px;
    }
   
    .icons, .like, .title {
        width:486px;
    }
   
    .post {
        width:538px;
        min-height:225px;
        position:absolute;
        top:715px;
        transform:translate(-50%,0);
        left:50%;
        margin-bottom:100px;
    }
   
    .info {
        min-height:25px;
        margin-bottom:25px;
    }
   
    .links {
        margin:20px 25px 25px 25px;
    }
}
 
@media (max-width:568px) {
   
    .title {
        width:85%;
        margin:15px auto -30px auto;
    }
   
    .side {
        width:100%;
        height:100%;
        top:0;
    }    
   
    .square {
        top:7.5%;
        left:7.5%;
        margin:0;
        width:calc(85% - 4px);
        padding-top:calc(85% - 4px);
        height:0;
    }
   
    .icons {
        margin:15% 7.5% 0 7.5%;
        width:calc(85% - 4px);
    }
   
    .like {
        width:85%;
        margin-left:7.5%;
    }
   
    .post {
        width:calc(100% - 2px);
        top:100%;
        margin-bottom:0;
    }
}
 